* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  border: 1px solid rgb(212, 212, 212);
  padding: 10px;
  background: rgb(19, 25, 63);
  min-height: 100vh;
  display: flex;
}

.tetris-canvas {
  display: block;
  margin: auto;
}
